In [1]:
import pandas as pd

In [2]:
YFV2001_clusters_Seurat = pd.read_csv('/Users/johard/Documents/mgatk_for_mtSCITE_ms/YFV2001_clusters.txt', sep='\t')
YFV2001_clusters_Seurat.reset_index(inplace=True)
YFV2001_clusters_Seurat['index'] = YFV2001_clusters_Seurat['index'].str.replace('_sorted', '')
YFV2001_clusters_Seurat.rename(columns={'index': 'cell_id'}, inplace=True)
YFV2001_clusters_Seurat.rename(columns={'x': 'seurat_clone'}, inplace=True)
YFV2001_clusters_Seurat

       cell_id  seurat_clone
0   P1299_1482             0
1   P1299_1562             2
2   P1299_1372             0
3   P1299_1756             1
4   P3128_1050             1
..         ...           ...
67  P1902_1165             2
68  P1902_1110             3
69  P1902_1047             2
70  P3128_1009             3
71  P1299_1757             3

[72 rows x 2 columns]

In [3]:
clones_map = pd.read_csv('../../data/YFV2001_clone_key/YFV2001_clone_key', sep = '\t')
clones_map.head()

  clone tree_id        cell_id node_name
0  bulk      s0  P3861_210.txt       ss0
1   107     s10     P1299_1141      ss10
2   107     s54     P1299_1514      ss54
3   107     s55     P1299_1529      ss55
4   107     s56     P1299_1535      ss56

In [4]:
merged_df = pd.merge(clones_map[['clone', 'cell_id']], YFV2001_clusters_Seurat[['cell_id', 'seurat_clone']], on='cell_id', how='inner')
grouped_counts = merged_df.groupby('seurat_clone')['clone'].value_counts()
max_counts = grouped_counts.groupby(level='seurat_clone').max()
total_counts = grouped_counts.groupby(level='seurat_clone').sum()
proportions = max_counts / total_counts
average_proportion = proportions.mean()
average_proportion

0.4041125541125541