In [1]:
import pandas as pd

In [9]:
YFV2001_clusters_Seurat = pd.read_csv('/Users/johard/Documents/mgatk_for_mtSCITE_ms/output/YFV2001_clusters.txt', sep='\t')
YFV2001_clusters_Seurat['cell_id'] = YFV2001_clusters_Seurat['cell_id'].str.replace('_sorted', '')
YFV2001_clusters_Seurat

       cell_id  cluster_id
1   P1299_1482           0
2   P1299_1372           0
3   P1299_1535           0
4   P1299_1488           0
5   P1299_1760           0
..         ...         ...
68  P3128_1147           3
69  P3128_1062           3
70  P1299_1555           3
71  P1902_1047           3
72  P1299_1757           3

[72 rows x 2 columns]

In [10]:
clones_map = pd.read_csv('../../../mcmt/data/YFV2001_clone_key/YFV2001_clone_key', sep = '\t')
clones_map.head()

  clone tree_id        cell_id node_name
0  bulk      s0  P3861_210.txt       ss0
1   107     s10     P1299_1141      ss10
2   107     s54     P1299_1514      ss54
3   107     s55     P1299_1529      ss55
4   107     s56     P1299_1535      ss56

In [12]:
merged_df = pd.merge(clones_map[['clone', 'cell_id']], YFV2001_clusters_Seurat[['cell_id', 'cluster_id']], on='cell_id', how='inner')
grouped_counts = merged_df.groupby('cluster_id')['clone'].value_counts()
max_counts = grouped_counts.groupby(level='cluster_id').max()
total_counts = grouped_counts.groupby(level='cluster_id').sum()
proportions = max_counts / total_counts
average_proportion = proportions.mean()
average_proportion

0.6102092352092352