In [2]:
import pandas as pd

In [7]:
P9855_clusters_Seurat = pd.read_csv('/Users/johard/Documents/mgatk_for_mtSCITE_ms/P9855_clusters.txt', sep='\t')
P9855_clusters_Seurat.reset_index(inplace=True)
P9855_clusters_Seurat['index'] = P9855_clusters_Seurat['index'].str.split('_S').str[0]
P9855_clusters_Seurat.rename(columns={'index': 'cell_id'}, inplace=True)
P9855_clusters_Seurat.rename(columns={'x': 'seurat_clone'}, inplace=True)

P9855_clusters_Seurat

       cell_id  seurat_clone
0   P9855_2104             1
1   P9855_2089             1
2   P9855_2093             1
3   P9855_2085             1
4   P9855_2102             1
5   P9855_2090             0
6   P9855_2096             0
7   P9855_2111             0
8   P9855_2110             0
9   P9855_2112             0
10  P9855_2091             0
11  P9855_2101             0

In [12]:
data = [['bulk', 's0', 'P3861_218.clean.dedup_ac.txt', 'ss0'], 
        ['E', 's1', 'P9855_2085_S108_L004_ac.txt', 'ss1'],
        ['A', 's2', 'P9855_2089_S112_L004_ac.txt', 'ss2'],
        ['A', 's3', 'P9855_2090_S113_L004_ac.txt', 'ss3'],
        ['D', 's4', 'P9855_2091_S114_L004_ac.txt', 'ss4'],
        ['E', 's5', 'P9855_2093_S116_L005_ac.txt', 'ss5'],
        ['D', 's6', 'P9855_2096_S119_L005_ac.txt', 'ss6'],
        ['F', 's7', 'P9855_2101_S124_L006_ac.txt', 'ss7'],
        ['F', 's8', 'P9855_2102_S125_L006_ac.txt', 'ss8'],
        ['B', 's9', 'P9855_2104_S127_L006_ac.txt', 'ss9'],
        ['C', 's10', 'P9855_2110_S133_L007_ac.txt', 'ss10'],
        ['C', 's11', 'P9855_2111_S134_L007_ac.txt', 'ss11'],
        ['B', 's12', 'P9855_2112_S135_L007_ac.txt', 'ss12']]

clones_map = pd.DataFrame(data, columns=['clone', 'tree_id', 'cell_id', 'node_name'])

clones_map

   clone tree_id                       cell_id node_name
0   bulk      s0  P3861_218.clean.dedup_ac.txt       ss0
1      E      s1   P9855_2085_S108_L004_ac.txt       ss1
2      A      s2   P9855_2089_S112_L004_ac.txt       ss2
3      A      s3   P9855_2090_S113_L004_ac.txt       ss3
4      D      s4   P9855_2091_S114_L004_ac.txt       ss4
5      E      s5   P9855_2093_S116_L005_ac.txt       ss5
6      D      s6   P9855_2096_S119_L005_ac.txt       ss6
7      F      s7   P9855_2101_S124_L006_ac.txt       ss7
8      F      s8   P9855_2102_S125_L006_ac.txt       ss8
9      B      s9   P9855_2104_S127_L006_ac.txt       ss9
10     C     s10   P9855_2110_S133_L007_ac.txt      ss10
11     C     s11   P9855_2111_S134_L007_ac.txt      ss11
12     B     s12   P9855_2112_S135_L007_ac.txt      ss12

In [13]:
clones_map['cell_id'] = clones_map['cell_id'].str.split('_S').str[0]
clones_map

   clone tree_id                       cell_id node_name
0   bulk      s0  P3861_218.clean.dedup_ac.txt       ss0
1      E      s1                    P9855_2085       ss1
2      A      s2                    P9855_2089       ss2
3      A      s3                    P9855_2090       ss3
4      D      s4                    P9855_2091       ss4
5      E      s5                    P9855_2093       ss5
6      D      s6                    P9855_2096       ss6
7      F      s7                    P9855_2101       ss7
8      F      s8                    P9855_2102       ss8
9      B      s9                    P9855_2104       ss9
10     C     s10                    P9855_2110      ss10
11     C     s11                    P9855_2111      ss11
12     B     s12                    P9855_2112      ss12

In [14]:
merged_df = pd.merge(clones_map[['clone', 'cell_id']], P9855_clusters_Seurat[['cell_id', 'seurat_clone']], on='cell_id', how='inner')
grouped_counts = merged_df.groupby('seurat_clone')['clone'].value_counts()
max_counts = grouped_counts.groupby(level='seurat_clone').max()
total_counts = grouped_counts.groupby(level='seurat_clone').sum()
proportions = max_counts / total_counts
average_proportion = proportions.mean()
average_proportion

0.34285714285714286

12